services:
  - type: web
    name: alexis-app-api
    env: dotnet 
    region: oregon
    plan: starter
    buildCommand: dotnet publish -c Release -o output
    startCommand: dotnet output/LAB13-LOPINTAALEXIS.dll
    envVars:
      - key: ASPNETCORE_URLS
        value: http://+:$PORT
